<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.autocodetemplate.dao.TransactionsTestDao">
    <resultMap id="baseMap" type="com.example.autocodetemplate.domain.UserBodyInfo">
        <id column="id" property="id"/>
        <result column="nikeName" property="platform"/>
        <result column="birthday" property="version"/>
        <result column="num" property="appVersion"/>
    </resultMap>

    <select id="queryById" resultMap="baseMap">
        SELECT * FROM user_body_info
        WHERE id = #{id}
    </select>

</mapper>