<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.autocodetemplate.dao.SysAppVersionInfoDao">
    <resultMap id="baseMap" type="com.example.autocodetemplate.domain.SysAppVersionInfo">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="platform" property="platform"/>
        <result column="version" property="version"/>
        <result column="app_version" property="appVersion"/>
        <result column="download_url" property="downloadUrl"/>
        <result column="app_type" property="appType"/>
        <result column="create_time" property="createTime"/>
        <result column="is_release" property="isRelease"/>
        <result column="is_force_update" property="isForceUpdate"/>
        <result column="file_size" property="fileSize"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <select id="queryById" resultMap="baseMap">
        SELECT * FROM sys_app_version_info
        WHERE id = #{id}
    </select>

    <select id="list" resultMap="baseMap">
        SELECT * FROM sys_app_version_info
        WHERE is_delete = 0
        <if test="info.appVersion != null">
            AND appVersion = #{info.appVersion}
        </if>
    </select>

    <insert id="insertSysAppVersionInfo" parameterType="com.example.autocodetemplate.domain.SysAppVersionInfo"
            flushCache="true" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into sys_app_version_info (
        id,
        platform,
        version,
        app_version,
        download_url,
        app_type,
        create_time,
        is_release,
        is_force_update,
        file_size,
        remark,
        update_time,
        is_delete)
        values (
        #{item.id},
        #{item.platform},
        #{item.version},
        #{item.appVersion},
        #{item.downloadUrl},
        #{item.appType},
        NOW(),
        #{item.isRelease},
        #{item.isForceUpdate},
        #{item.fileSize},
        #{item.remark},
        NOW(),
        0)
    </insert>

    <insert id="insertSysAppVersionInfos" parameterType="com.example.autocodetemplate.domain.SysAppVersionInfo"
            flushCache="true">
        insert into sys_app_version_info (
        id,
        platform,
        version,
        app_version,
        download_url,
        app_type,
        create_time,
        is_release,
        is_force_update,
        file_size,
        remark,
        update_time,
        is_delete)
        values (
        <foreach collection="items" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.platform},
            #{item.version},
            #{item.appVersion},
            #{item.downloadUrl},
            #{item.appType},
            NOW(),
            #{item.isRelease},
            #{item.isForceUpdate},
            #{item.fileSize},
            #{item.remark},
            NOW(),
            0)
        </foreach>
    </insert>

    <update id="updateSysAppVersionInfo">
        UPDATE sys_app_version_info
        <set>
            <if test="item.id != null and item.id != ''">
                id = #{item.id},
            </if>
            <if test="item.platform != null and item.platform != ''">
                platform = #{item.platform},
            </if>
            <if test="item.version != null and item.version != ''">
                version = #{item.version},
            </if>
            <if test="item.appVersion != null and item.appVersion != ''">
                app_version = #{item.appVersion},
            </if>
            <if test="item.downloadUrl != null and item.downloadUrl != ''">
                download_url = #{item.downloadUrl},
            </if>
            <if test="item.appType != null and item.appType != ''">
                app_type = #{item.appType},
            </if>
            <if test="item.isRelease != null and item.isRelease != ''">
                is_release = #{item.isRelease},
            </if>
            <if test="item.isForceUpdate != null and item.isForceUpdate != ''">
                is_force_update = #{item.isForceUpdate},
            </if>
            <if test="item.fileSize != null and item.fileSize != ''">
                file_size = #{item.fileSize},
            </if>
            <if test="item.remark != null and item.remark != ''">
                remark = #{item.remark},
            </if>
            update_time = now()
        </set>
        WHERE id = #{item.id}
    </update>

    <update id="deleteById">
        update sys_app_version_info
        SET is_delete = 1
        WHERE id = #{id}
    </update>

</mapper>